* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  min-height: 62px;
}

.main-nav {
  display: flex;
  list-style: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 20px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  position: absolute;
  left: 21px;
  top: 17px;
}

.navbar-toggle {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  display: none;
}

#chkToggle {
  display: none;
}

main {
  display: flex;
  margin: 20px;
}

aside {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  padding: 10px;
}

.aside {
  width: 30%;
}

.article {
  width: 70%;
}

.aside h3 {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar-toggle {
    display: block;
  }

  .main-nav {
    width: 100%;
    display: none;
  }

  .aside h3 {
    display: block;
  }

  .tux {
    display: none;
  }

  #chkToggle:checked + ul.main-nav {
    display: block;
  }
}

/*
@media {
  .navbar {
  
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
  
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
 
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
  
}

}*/
