/* APLICATION BASE */
    * {
        padding: 0;
        margin: 0;
    }

    body {
        position: relative;
        overflow-x: hidden;
        font-family: Roboto-Light;
    }

    html {
        scroll-behavior: smooth;
    }

/* VARIABLES */
    :root {
        --color-primary: #2196f3;
        --color-secundary: white;
        --color-tertiary: black;
    }

/* WEBSITE */
    main {
        padding: 20px;
        background-color: #e0e0e0;
        display: flex;
        min-height: calc(100vh - 140px);
        margin-bottom: 100px;
    }

    /* SECTION LEFT */
        .sectionleft {
            width: calc(20vw - 30px);
            margin-right: 10px;
            background-color: white;
            padding: 30px;
            min-width: 230px;
            height: 900px;
        }

        /* PROFILE SECTION LEFT */
            .sectionleft__profile {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .sectionleft__profile__image {
                width: 90%;
                border-radius: 100%;
            }

            .sectionleft__profile__name {
                font-family: FjallaOne;
                font-size: 30px;
                margin-top: 20px;
            }

            .sectionleft__profile__work {
                color: var(--color-primary);
            }

            .sectionleft__profile__hr {
                background-color: black;
                border: none;
                height: 0.15em;
                margin-bottom: 1px;
                width: 100%;
                margin-top: 20px;
            }
        
        /* DESCRIPTION SECTION LEFT */
            .sectionleft__description {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .sectionleft__description__title {
                margin: 20px 0px 10px 0px;
                font-family: Roboto-Bold;
            }

            .sectionleft__description__text {
                text-align: justify;
                font-size: 17px;
            }

        /* DOWNLOAD SECTION LEFT */
            .sectionleft__download {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .sectionleft__download__button {
                background-color: var(--color-primary);
                color: white;
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                margin-top: 40px;
                cursor: pointer;
                border: 2px solid var(--color-primary);
            }

            .sectionleft__download__button:hover {
                background-color: white;
                color: var(--color-primary);
            }

            .sectionleft__download__text {
                font-weight: bold;
                margin-left: 10px;
            }

    /* SECTION RIGHT */
        .sectionright {
            width: 80vw;
            margin-left: 10px;
        }

        .sectionright__browser {
            background-color: white;
            height: 70px;
            font-family: Roboto-Bold;
        }

        .sectionright__browser__list {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }

        .sectionright__browser__list__elem {
            padding: 0px 2%;
            height: 100%;
            transition: height 0.2s;
            cursor: pointer;
        }

        .sectionright__browser__list__elem__text {
            color: black;
            font-style: normal;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }

        .sectionright__browser__list__elem:hover,
        .sectionright__browser__list__elem--active {
            height: 120%;
            background-color: var(--color-primary);
        }

        .sectionright__browser__list__elem:hover > .sectionright__browser__list__elem__text,
        .sectionright__browser__list__elem--active > .sectionright__browser__list__elem__text {
            color: white;
        }

        /* COMPONENT */
            .component {
                width: calc(100% - 280px);
                min-height: 250px;
                background-color: white;
                margin-top: 20px;
                display: flex;
                padding: 80px 140px;
                justify-content: center;
                position: relative;
            }

            .component__section {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                width: inherit;
            }

            .component__section__container{
                position: relative;
                margin-bottom: 30px;
            }

            .component__section__title {
                font-size: 60px;
                font-family: FjallaOne;
            }

            .component__section__title__background {
                font-size: 100px;
                font-family: FjallaOne;
                position: absolute;
                opacity: 0.1;
                top: -35px;
                left: -15px;
                width: 400px;
            }

            .component__section__description {
                font-family: roboto-light;
                color: #000000a3;
                font-size: 22px;
            }

            .component__section__text {
                margin-top: 10px;
                font-size: 15px;
            }

            .component__section__button {
                background-color: var(--color-primary);
                color: white;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                margin-top: 40px;
                cursor: pointer;
                border: 2px solid var(--color-primary);
                text-decoration: none;
            }

            .component__section__button:hover {
                background-color: white;
                color: var(--color-primary);
            }

            .component__section__button__text {
                font-weight: bold;
                margin-left: 10px;
            }

            .component__section__image {
                width: 400px;
                height: 366px;
            }

            .component__dot {
                position: absolute;
                right: 0;
                top: calc(50% - 22px);
                margin-right: 22px;
                display: flex;
                flex-direction: column;
            }

            .component__dot__elem {
                margin: 2px 0px;
                cursor: pointer;
            }

            .component__dot__elem:hover,
            .component__dot__elem--active {
                color: var(--color-primary);
            }
            
            /* HOME */
                .component__section--home {
                    justify-content: center;
                }

            /* ABOUT ME */
                .component--about_me {
                    flex-direction: column;
                }

            /* SKILLS */
                .component--skills {
                    flex-direction: column;
                }

                .component__section__skills {
                    display: flex;
                    justify-content: space-around;
                }

                .component__section__skills__level {
                    height: 160px;
                    width: 160px;
                    color: white;
                    font-size: 23px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    cursor: pointer;
                    position: relative;
                }

                .component__section__skills__level--edition {
                    background-color: rgb(237, 28, 36);
                }

                .component__section__skills__level--programming {
                    background-color: #4CAF50;
                    color: white;
                }

                .component__section__skills__level__image {
                    background-color: transparent;
                    width: 100px;
                }

                .component__section__skills__level__triangle {
                    height: 0;
                    position: absolute;
                    width: 0;
                    border-left: 30px solid #efefef;
                    border-right: 0px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-top: 40px solid transparent;
                    transform: rotate(-90deg);
                    bottom: -58px;                
                    display: none;
                }

                .component__section__skills__level:hover {
                    transform: scale(1.1);
                }

                .component__section__table__template {
                    background-color: #e0e0e082;
                    margin: 30px 0px;
                    padding: 20px;
                    font-size: 20px;
                    display: none;
                }

                .component__section__table__template__image {
                    width: 40px;
                    margin-right: 16px;
                }

                .component__section__table__template__padding {
                    height: 100%;
                    width: 100%;
                    padding: 10px;
                }

                .component__section__table__template__padding div {
                    height: 25px;
                }

                #programming_table .component__section__table__template__padding div {
                    background-color: #4CAF50;
                }

                #edition_table .component__section__table__template__padding div {
                    background-color: red;
                }
                
                #programming .component__section__skills__level__triangle {
                    display: block;
                }

                #programming_table {
                    display: block;
                }

    /* FOOTER */
        .footer {
            position: absolute;
            bottom: -100px;
            background-color: rgb(19, 19, 19);
            width: 100vw;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        .footer__link {
            color: var(--color-primary);
        }