// Variables globales
$theme: dark

// Definimos los iniciales
$colorText: #eee
$colorBack: #15a

// Depende del tema actualizamos las variables
@if $theme == dark
  $colorBack: #138
@else if $theme == light
  $colorBack: #ddf
  $colorText: #138

// Moficiaciones globales
$colorTextHover: lighten($colorText, 10%)
$colorBackHover: lighten($colorBack, 10%)
$colorTitulo: darken($colorBack, 10%)

@import "mixin"
@import "menu"
@import "contenido"

header
  padding: 12px 30px
  font-size: 1.8em
  color: #444
  background-color: #eee
  font-weight: bold
  text-shadow: 1px 1px 2px #aaa
  font-family: Georgia, "Times New Roman", Times, serif

footer
  @include colours-text-background()
  position: fixed
  @include box-sizing(border-box)
  width: 100%
  bottom: 0px
  padding: 5px

body
  padding: 0px
  margin: 0px

@keyframes iluminar 
  from 
    background-color: #138
    color: #eee
  to 
    background-color: #1744b5
    color: white