.note {
    background-color: AliceBlue;
    border: 1px solid #777;
    box-shadow: 4px 4px 2px #333;
    margin: 10px;
    padding: 5px;
}

section p:first-child {
    font-weight: bold;
}

p::first-letter {
    color: red;
}