@supports(-webkit-mask-image: url(#mask)) or (mask-image: url(#mask)) {
    div {
        display: inline-block;
        margin: 30px;
    }

    .mascara-0 {
        -webkit-mask: url('../img/plus-solid.svg');
        mask: url('../img/plus-solid.svg')
    }

    .mascara-1 {
        -webkit-mask: url('../img/star-solid.svg');
        -webkit-mask-size: 36%;
        -webkit-mask-repeat: repeat;
        mask: url('../img/star-solid.svg');
        mask-size: 36%;
        mask-repeat: repeat;
    }

    .mascara-2 {
        -webkit-mask: url('../img/plus-solid.svg');
        -webkit-mask-size: 60%;
        -webkit-mask-repeat: repeat-x;
        mask: url('../img/plus-solid.svg');
        mask-size: 60%;
        mask-repeat: repeat-x;
    }

    .mascara-3 {
        -webkit-mask: url('../img/plus-solid.svg');
        -webkit-mask-size: 40%;
        -webkit-mask-repeat: repeat-y;
        mask: url('../img/plus-solid.svg');
        mask-size: 40%;
        mask-repeat: repeat-y;
    }

    .mascara-4 {
        -webkit-mask: url('../img/star-solid.svg');
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask: url('../img/star-solid.svg');
        mask-size: 100%;
        mask-repeat: no-repeat;
    }

/* code that requires mask-image here. */
}